/*
Color palatte
Background: #fdfdfd
Secondary-background: #e6e6e6
Light-weight items: #b3b3b3
Font & Icons: #4d4d4d 
Feature color: #622fd0
*/

body {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    overflow: none;
    background-color: #e6e6e6;
    color: #4d4d4d;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*SAVING GRACE FOR 100VH ON MOBILE*/
body, .menu, .page {
    height: 100%;
    min-height: 100%;
}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.6px;
}

h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.5px;
}

h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    font-weight: 400;
}

p {
    margin: 0;
    font-family: sans-serif;
    font-size: 11px; 
    font-weight: 300;
    letter-spacing: 0.3px;
}

b {
    font-weight: 500;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.page {
    position: absolute;
    z-index: 3;
    width: 100vw;
    margin: 0;
    overflow: none;
    transform: perspective( 100vw );
    transform-origin: left;
    -webkit-transition: transform 1s, transform-origin 2s; /* Safari */
    transition: transform 1s, transform-origin 2s;
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(46%, rgba(255,255,255,1)), color-stop(100%, rgba(242,242,242,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(242,242,242,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(242,242,242,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(242,242,242,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );
}

.menu {
    position: absolute;
    z-index: 1;
    width: 100vw;
    margin: 0;
    overflow: none;
    background-color: #e6e6e6; 
}

.menuButton {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
}

.menuButton img {
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: 0 0 20px 20px;
}

.menu .listContainer {
    width: 24.5vw; /*FIX THIS*/
    margin-top: 100px;
    float: right;
    display: flex;
    justify-content: center;
    -webkit-transition: flex-grow 800ms; /* Safari */
    transition: flex-grow 800ms;
    max-height: calc(100vh - 100px);
    overflow: scroll;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.menu ul li {
    float: left;
    clear: both;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.menu li .subheading {
    margin: 6px 0 12px 0;
}

.menu li p {
    line-height: 1.8;
    display: block;
}

.menu .menuSkip p {
    line-height: 1.8;
    display: inline;
}

.menu ul li:hover > :not(span){
    color: black;
}

.menu .historyList {
    display: none;
}

.menu .historyList p:nth-of-type(even) {

}

.menu .historyList p:nth-of-type(odd) {
    margin-right: 4px;
    clear: both
}

.menu .historyList p {
    display: inline-block;
    float: left;
    margin-bottom: 6px;
}

.menu .historyList p:nth-child(1n+11){
    display: none;
}

.menu .disclaimerNote {
    display: none;
}

.menu .disclaimerNote p {
    width: 180px;
    font-size: 9px;
    position: absolute;
}

.home {
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.homeWrapper {
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:4;
}

.search {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #808080;
}

.search label {
    display: block;
    line-height: 2.5;
    padding-left: 15px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #4d4d4d;
}

.search input {
    width: 300px;
    height: 40px;
    background-color: #f2f2f2;
    text-transform: capitalize;
    font-size: 11px;
    border: none;
    padding: 3px 15px;
    border-radius: 6px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;
    -webkit-transition: box-shadow 300ms; /* Safari */
    transition: box-shadow 300ms;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

.search input[type=text]:focus {
    outline: none;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.13);
}

.grid {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    position: fixed;
    z-index: 4;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 1020px;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    left: 50%;
    margin-left: -510px; /* Half of the width */
}

.grid li {
    position: relative;
    width: 180px;
    height: auto;
    min-height: 180px;
    float: left;
    margin: 30px 80px;
    opacity: 0;
}

.grid li:nth-of-type(n+7) {
        display: none;
    }

.grid li .imgWrapper {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.grid li img {
    width: 180px;
    height: 180px;
    margin: 0;
    padding: 0;
    background-color: #C7C8C9;
}

.grid li .imgWrapper:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.11);
}

.grid li p:first-of-type {
    margin-top: 12px
}

.grid li p {
    text-align: center;
    line-height: 1.5;
}

.grid li p span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.player {
    position: fixed;
    bottom: -60px;
    height: 60px;
    width: 100vw;
    z-index: 4;
}

.playerWrapper {
    position: absolute;
    width: 1000px;
    left: 50%;
    margin-left: -500px; /* Half of the width */
}

.player .albumArt {
    height: 40px;
    width: 40px;
    background-color: #b3b3b3;
    margin: 10px 14px 10px 0;
    border-radius: 3px;
    float: left;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
}

.player .track {
    height: 60px;
    width: 160px;
    display: table; 
    float: left;
}

.player .track p {
    display: table-cell; 
    vertical-align: middle; 
    line-height: 1.6;
}

.player .track p span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.player .control {
    height: 60px;
    /*width: 108px;*/
    float: left;
}

.player .control img {
    cursor: pointer;
    -webkit-transition: transform 100ms; /* Safari */
    transition: transform 100ms;
}

.player .control .play {
    height: 16px;
    padding: 12px;
    margin: 10px 4px;
}

.player .control .pause {
    display: none;
    height: 16px;
    padding: 12px;
    margin: 10px 6px 10px 4px;
}

.player .control .skip {
    height: 10px;
    padding: 12px;
    margin: 13px 4px;
}

.player h6 {
    width: 40px;
    text-align: center;
}

.player .playback {
    display: inline-block;
    width: 678px; /*- 1000-322 */
    height: 60px;
    display: table; 
}

.player .playback > * {
    display: table-cell; 
    vertical-align: middle;
}

.player .playback .bar .songLength {
    height: 2px;
    border-radius: 3px;
    background-color: #e6e6e6;
}

.player .playback .bar .songPosition {
    height: 2px;
    border-radius: 3px;
    background-color: #b3b3b3;
    width: 0%;
    min-width: 2px;
}

@media only screen  
    and (max-height: 620px)
    and (min-width: 1024px){

        .grid li:nth-of-type(n+4) {
            display: none;
        }    
        
}

@media only screen  
  and (max-width: 1220px)  { 
      
    .grid {
        width: 900px;
        margin-left: -450px; /* Half of the width */
    }

    .grid li {
        width: 160px;
        min-height: 160px;
        margin: 20px 70px; /* In line with percentage decrease */
    }

    .grid li .imgWrapper {
        width: 160px;
        height: 160px;
    }

    .grid li img {
        width: 160px;
        height: 160px;
    }
       
    .playerWrapper {
        width: 900px;
        margin-left: -450px; /* Half of the width */
    }
      
    .player .playback {
        width: 578px; /*- 900-322 */
        height: 60px;
    }
      
}

@media only screen  
  and (max-width: 1000px)  {  
     
    .grid {
        width: 780px;
        margin-left: -390px; /* Half of the width */
    }

    .grid li {
        width: 140px;
        min-height: 140px;
        margin: 20px 60px; /* In line with percentage decrease */
    }

    .grid li .imgWrapper {
        width: 140px;
        height: 140px;
    }

    .grid li img {
        width: 140px;
        height: 140px;
    }  
      
    .playerWrapper {
        width: 780px;
        margin-left: -390px; /* Half of the width */
    }
      
    .player .playback {
        width: 458px; /*- 780-322 */
        height: 60px;
    }
      
}

@media only screen  
  and (max-width: 900px)  {   
     
    .menu li p {
        display: block;
    }  
      
    .menu .menuSkip p {
        display: block;
    }
      
    .grid {
        width: 600px;
        margin-left: -300px; /* Half of the width */
    }

    .grid li {
        width: 100px;
        min-height: 100px;
        margin: 15px 50px; /* In line with percentage decrease */
    }

    .grid li .imgWrapper {
        width: 100px;
        height: 100px;
    }

    .grid li img {
        width: 100px;
        height: 100px;
    }  
      
    .playerWrapper {
        width: 680px;
        margin-left: -340px; /* Half of the width */
    }
      
    .player .playback {
        width: 358px; /*- 680-322 */
        height: 60px;
    }
      
}

@media only screen  
  and (max-width: 1220px) and (min-width: 700px) and ( orientation: portrait)  {

    .grid {
        width: 520px;
        margin-left: -260px; /* Half of the width */
    }

    .grid li {
        width: 140px;
        min-height: 140px;
        margin: 20px 60px; /* In line with percentage decrease */
    }

    .grid li .imgWrapper {
        width: 140px;
        height: 140px;
    }

    .grid li img {
        width: 140px;
        height: 140px;
    } 
    
}

@media only screen  
  and (max-width: 700px)  { 
    
    .menu .listContainer {
        width: 45vw; /*FIX THIS*/
        margin-top: 110px;
    }  
    
    .menu ul li {
        padding: 8px 2px 4px 2px;
        margin-bottom: 6px;
    }
      
    .menu .historyList p {
        display: block;
        float: none;
        margin-bottom: 0px;
    }
      
    .menu .historyList p:nth-of-type(even) {
        margin-bottom: 8px;
    }
      
    .grid li:nth-of-type(n+5) {
        display: none;
    }   
      
    .menu .disclaimerNote p {
        width: 140px;
    }
      
    .grid {
        width: 84%;
        margin-left: -42%; /* Half of the width */
    }

    .grid li {
        width: 30vw;
        min-height: 30vw;
        margin: 20px 6vw; /* In line with percentage decrease */
    }

    .grid li .imgWrapper {
        width: 30vw;
        height: 30vw;
    }

    .grid li img {
        width: 30vw;
        height: 30vw;
    } 
      
    .grid li .imgWrapper:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.12);
    }

    .player {
        height: 80px
    }  
      
    .playerWrapper {
        width: 96%;
        margin-left: -48%; /* Half of the width */
    } 
      
    .player .track {
        width: 110px;
    }  
      
    .player .playback {
        width: 96vw;
        height: 20px;
        margin-bottom: 10px
    }
      
    .player .track {
        width: 180px;
        height: 50px;
    } 
    
    .player .albumArt {
        margin: 5px 14px 5px 11px;
    }
      
    .control {
        position: absolute;
        right: 0;
        height: 50px;
    }
      
    .player .control .play {
        margin: 5px 4px;
    }

    .player .control .pause {
        margin: 5px 6px 5px 4px;
    }

    .player .control .skip {
        margin: 8px 4px;
    }
      
}

@media only screen  
    and (max-height: 540px)
    and (max-width: 530px){

        .grid li:nth-of-type(n+3) {
            display: none;
        }    
        
}

/*IPHONE 6 LANDSCAPE*/
@media only screen  
    and (max-height: 400px)
    and (max-width: 700px){

    .grid li:nth-of-type(n+3) {
        display: none;
    }
        
    .grid {
        width: 64%;
        margin-left: -32%; /* Half of the width */
    }

    .grid li {
        width: 20vw;
        min-height: 20vw;
        margin: 20px 6vw; /* In line with percentage decrease */
    }

    .grid li .imgWrapper {
        width: 20vw;
        height: 20vw;
    }

    .grid li img {
        width: 20vw;
        height: 20vw;
    }
        
}